/* ANIMATIONS */
[draggable="true"]{
    position: relative;
    z-index: 1;
}
#dragging{
    opacity: 0.3;
}
.selected{
    filter: drop-shadow(0 0 1rem lime);
}
.overing{
    transform: scale(1.15);
}

/* TARGET STYLES */
.Empty.target{
    margin:auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: lime;
    filter: drop-shadow(0 0 0.4rem lime);
}
.target{
    filter: drop-shadow(0 0 0.7rem red);
}

/* BOARD */
Board{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 800px;
    height: 800px;
    background: url("http://localhost:8080/ASSETS/BOARDS/Chess_Board1.svg");
    background-size: cover;
}

/* SQUARE */
Board > Square{
    width: 100px;
    height: 100px;
}

/* SQUARES NAMES */
.a8{
    grid-column: 1;
    grid-row: 1;
}
.b8{
    grid-column: 2;
    grid-row: 1;
}
.c8{
    grid-column: 3;
    grid-row: 1;
}
.d8{
    grid-column: 4;
    grid-row: 1;
}
.e8{
    grid-column: 5;
    grid-row: 1;
}
.f8{
    grid-column: 6;
    grid-row: 1;
}
.g8{
    grid-column: 7;
    grid-row: 1;
}
.h8{
    grid-column: 8;
    grid-row: 1;
}
.a7{
    grid-column: 1;
    grid-row: 2;
}
.b7{
    grid-column: 2;
    grid-row: 2;
}
.c7{
    grid-column: 3;
    grid-row: 2;
}
.d7{
    grid-column: 4;
    grid-row: 2;
}
.e7{
    grid-column: 5;
    grid-row: 2;
}
.f7{
    grid-column: 6;
    grid-row: 2;
}
.g7{
    grid-column: 7;
    grid-row: 2;
}
.h7{
    grid-column: 8;
    grid-row: 2;
}
.a6{
    grid-column: 1;
    grid-row: 3;
}
.b6{
    grid-column: 2;
    grid-row: 3;
}
.c6{
    grid-column: 3;
    grid-row: 3;
}
.d6{
    grid-column: 4;
    grid-row: 3;
}
.e6{
    grid-column: 5;
    grid-row: 3;
}
.f6{
    grid-column: 6;
    grid-row: 3;
}
.g6{
    grid-column: 7;
    grid-row: 3;
}
.h6{
    grid-column: 8;
    grid-row: 3;
}
.a5{
    grid-column: 1;
    grid-row: 4;
}
.b5{
    grid-column: 2;
    grid-row: 4;
}
.c5{
    grid-column: 3;
    grid-row: 4;
}
.d5{
    grid-column: 4;
    grid-row: 4;
}
.e5{
    grid-column: 5;
    grid-row: 4;
}
.f5{
    grid-column: 6;
    grid-row: 4;
}
.g5{
    grid-column: 7;
    grid-row: 4;
}
.h5{
    grid-column: 8;
    grid-row: 4;
}
.a4{
    grid-column: 1;
    grid-row: 5;
}
.b4{
    grid-column: 2;
    grid-row: 5;
}
.c4{
    grid-column: 3;
    grid-row: 5;
}
.d4{
    grid-column: 4;
    grid-row: 5;
}
.e4{
    grid-column: 5;
    grid-row: 5;
}
.f4{
    grid-column: 6;
    grid-row: 5;
}
.g4{
    grid-column: 7;
    grid-row: 5;
}
.h4{
    grid-column: 8;
    grid-row: 5;
}
.a3{
    grid-column: 1;
    grid-row: 6;
}
.b3{
    grid-column: 2;
    grid-row: 6;
}
.c3{
    grid-column: 3;
    grid-row: 6;
}
.d3{
    grid-column: 4;
    grid-row: 6;
}
.e3{
    grid-column: 5;
    grid-row: 6;
}
.f3{
    grid-column: 6;
    grid-row: 6;
}
.g3{
    grid-column: 7;
    grid-row: 6;
}
.h3{
    grid-column: 8;
    grid-row: 6;
}
.a2{
    grid-column: 1;
    grid-row: 7;
}
.b2{
    grid-column: 2;
    grid-row: 7;
}
.c2{
    grid-column: 3;
    grid-row: 7;
}
.d2{
    grid-column: 4;
    grid-row: 7;
}
.e2{
    grid-column: 5;
    grid-row: 7;
}
.f2{
    grid-column: 6;
    grid-row: 7;
}
.g2{
    grid-column: 7;
    grid-row: 7;
}
.h2{
    grid-column: 8;
    grid-row: 7;
}
.a1{
    grid-column: 1;
    grid-row: 8;
}
.b1{
    grid-column: 2;
    grid-row: 8;
}
.c1{
    grid-column: 3;
    grid-row: 8;
}
.d1{
    grid-column: 4;
    grid-row: 8;
}
.e1{
    grid-column: 5;
    grid-row: 8;
}
.f1{
    grid-column: 6;
    grid-row: 8;
}
.g1{
    grid-column: 7;
    grid-row: 8;
}
.h1{
    grid-column: 8;
    grid-row: 8;
}

/* BLACK PIECES */
.k{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/BLACK/Black_King.svg");
    background-size: cover;
}
.q{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/BLACK/Black_Queen.svg");
    background-size: cover;
}
.r{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/BLACK/Black_Rook.svg");
    background-size: cover;
}
.b{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/BLACK/Black_Bishop.svg");
    background-size: cover;
}
.n{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/BLACK/Black_Knight.svg");
    background-size: cover;
}
.p{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/BLACK/Black_Pawn.svg");
    background-size: cover;
}


/* WHITE PIECES */
.K{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/WHITE/White_King.svg");
    background-size: cover;
}
.Q{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/WHITE/White_Queen.svg");
    background-size: cover;
}
.R{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/WHITE/White_Rook.svg");
    background-size: cover;
}
.B{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/WHITE/White_Bishop.svg");
    background-size: cover;
}
.N{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/WHITE/White_Knight.svg");
    background-size: cover;
}
.P{
    background: url("http://localhost:8080/ASSETS/PIECES/DEFAULT/WHITE/White_Pawn.svg");
    background-size: cover;
}